@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
 }
body{
    background-color: #171A37;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.containers{
   
    width: 90%;
    height: 90%;
}
/*header style*/
nav{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    padding: 20px 80px;
    position: fixed;
    z-index: 2;
    
}
nav ul{
    animation: slideLeft 2s ease forwards;
}
nav ul li{
    display: inline-block;
    margin: 0 6px;
    font-size: 18px;
}
nav ul li a{
    text-decoration: none;
    
    transition: .3s;
}
nav ul li a:hover{
    color: #769EAF;
    margin-bottom: 1px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    font-size: 20px;
}
.active{
    color: #769EAF;
    transition: .3s;
}
.active:hover{
    color: #fff;
}


header{
	height: 70px;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 0 2rem;
    left: 0;
	background-color: #171A37;
  z-index: 2;
}
/*home style*/
.content{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    align-items: center;
    height: 70%;
}
.content .text{
    width: 50%;
    animation: slidetoRight 1s ease forwards;
}
.content .text h3{
    font-weight: 600;
    font-size: 22px;
    
}
.content .text p{
    font-size: 14px;
}
.content .text h3 .name{
    font-weight: 600;
    font-size: 39px;
}
.content .text .media i{
    padding: 10px;
    border-radius: 50%;
    margin: 0 10px;
    font-size: 20px;
    border: 1px solid #769EAF;
    cursor: pointer;
    color: #769EAF;
}
.content .text .media i:hover{
    background-color: #769EAF;
    box-shadow: #769EAF 0px 5px 15px;
    color: #fff;
}
.content .image{
    width: 33%;
    animation: slideLeft 2s ease forwards;
}

.box{
    background: url(https://profile-images.xing.com/images/dbba47e3d8fbe65890bcc82138bd76fd-2/huseyn-abdullayev.1024x1024.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    width: 250px;
    height: 250px;
    box-shadow: 0 20px 5px 5px rgba(0,0,0,0.2);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
@keyframes animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
.download{
    width: 170px;
    height: 40px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 18px;
    background-color: transparent;
    
    border: 1px solid #769EAF;
    cursor: pointer;
}
.download:hover{
    background-color: transparent;
	color: #769EAF;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid #769EAF;
}
.download i{
    font-size: 19px;
}
/*about section*/
.about{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    align-items: center;
    height: 80%;
}


.about .text h1{
    font-size: 42px;
    
}
.about .text h1 span,.header h1 span{
    color: #769EAF;
}
.about p{
    margin-top: 12px;
    line-height: 34px;
    font-size: 17px;
    
}
.about_header,.header{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
}
.header_contact{
    color: #fff;
    padding: 1rem;
    position: relative;
}
.header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #769EAF;
    border-radius: 2px;
}
.header_contact:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #769EAF;
    border-radius: 2px;
}
.about_header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #769EAF;
    border-radius: 2px;
}
/*skills section*/
.skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
    margin-bottom: 40px;
}
.skill-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}
.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
    width: 35px;
}
.skill-box:hover .img{
    transform: translateY(-10px);
}
.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.img{
   width: 90px;
   height: 90px;
   position: relative;
   border-radius: 45px;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .5s;
}
.skill-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #769EAF;
    transition: .5s;
}

.skill-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #769EAF;
    transition: .5s;
}


.skill-title h3{
    color: #fff;
    margin-top: 0.5rem;
}
.skill-icon{
    width: 50px;
}
@media screen and (max-width:990px){
    .skills{
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 50px;
    }
}
@media screen and (max-width:650px){
    .skills{
        grid-template-columns: 1fr;
    }
}

/*blogs section start*/
.slider-wrapper {
    overflow: hidden;
    max-width: 1000px;
    margin: 0 70px 55px;
  }
  
  .card-list .card-item {
    height: auto;
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    max-width: 330px; /*change this valeur*/
    justify-content: center;
    border-radius: 30px 0 30px 0;
    backdrop-filter: blur(30px);
    background: #ffffff33;
    border: 1px solid #ffffff80;
  }
  .card-list .card-item .message-button:hover {
    background: #ffffff1a;
    border: 2px solid #fff;
    color: #fff;
  }
  .slider-wrapper .swiper-pagination-bullet {
    background: #fff;
    height: 13px;
    width: 13px;
    opacity: 0.5;
  } 
  .slider-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
  }
  .slider-wrapper .swiper-slide-button {
    color: #fff;
    margin-top: -35px;
    transition: 0.5s;
  }
  .blog_content {
    
    height: 210px;
    width: 250px;
  }
  .blog_content h1 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    
    color: #fff;
  }
  
  .blog_content p {
    margin: 0 0 2rem 0;
    font-size: 1.3rem;
    
    color: whitesmoke;
  }
  
  .btn_primary {
    border: none;
    outline: none;
    background: #769EAF;
    padding: .6rem .6rem;
    border-radius: 30px;
    color: white;
    font-size: 1.2rem;
    
    transition: all 0.2s ease-in;
    text-decoration: none;
  }
  
  .blog_content .btn_primary:hover {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
  }
  @media (max-width: 768px) {
    .slider-wrapper {
      margin: 0 20px 40px;
      padding: 0 30px;
    }
  }
  /*blogs section end*/
  /* contact section start */
.contact-section{
  padding: 40;
  margin-right: 90px;
}

.contact-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.contact-box{
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}

.contact-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #82ccdd;
  color: #82ccdd;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.contact-icon:hover{
  transform: rotate(85deg);
}
.contact-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.contact-box:hover .contact-icon{
  background: #82ccdd;
  color: #ddd;
}
.contact-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.contact-desc{
  font-size: 19px;
}

@media screen and (max-width:960px) {
  .contact-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .contact-box{
    max-width: 50%;
  }
}

@media screen and (max-width:480px) {
  .contact-box{
    max-width: 100%;
  }
}



.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}
  /*==================== experience ====================*/
  .qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }
  
  .qualification__button {
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  .qualification__button:hover {
    color: #769EAF;
  }
  
  .qualification__icon {
    font-size: 1.8rem;
   
    margin-left: 6px;
  }
  
  .qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
  }
  
  .qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
  }
  
  .qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
  }
  .read-more-btn{
    
    border: none;
    outline: none;
    background: #769EAF;
    padding: .4rem .4rem;
    color: white;
    font-size: .9rem;
    margin-bottom: 2px;
    transition: all 0.2s ease-in;
    text-decoration: none;
  
  }
  .qualification__calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
  }
  
  .qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #769EAF;
    border-radius: 50%;
  }
  
  .qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #769EAF;
    transform: translate(6px, -7px);
  }
  
  .qualification [data-content] {
    display: none;
  }
  
  .qualification__active[data-content] {
    display: block;
  }
  
  .qualification__button.qualification__active {
    color: #769EAF;
  }
  /*==================== MEDIA QUERIES ====================*/
  /* For small devices */
  @media screen and (max-width: 350px) {
    .container {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
  
    .qualification__data {
      gap: .5rem;
    }
   
  
  }
  
  /* For medium devices */
  @media screen and (min-width: 568px) {
   
    .qualification__sections {
      display: grid;
      grid-template-columns: .6fr;
      justify-content: center;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
  
    .qualification__tabs {
      justify-content: center;
    }
    .qualification__button {
      margin: 0 var(--mb-1);
    }
    .qualification__sections {
      grid-template-columns: .5fr;
    }
  }
.img-certificate{
  height: 200px;
  margin-bottom: 10px;
  border-radius: 20px;
}
/*==================== PORTFOLIO ====================*/
.portfolio__container {
  overflow: initial;
}

.portfolio__content {
  padding: 0 1.5rem;
}



.portfolio__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.portfolio__description {
  margin-bottom: var(--mb-0-75);
}

.portfolio__button:hover .button__icon {
  transform: translateX(0.25rem);
}


/* For medium devices */
@media screen and (min-width: 568px) {
  
  .portfolio__content{
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
 
  .portfolio__img {
    width: 320px;
  }
  .portfolio__content {
    align-items: center;
  }
  
}

/* For large devices */
@media screen and (min-width: 1024px) {
  
  .portfolio__content {
    column-gap: 5rem;
  }
  body{
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 978px) {
  header {
    display: none;
  }
}
@media only screen and (max-width: 726px) {
  .about,.content{
    width: 100%;
  }
  .content .image{
    margin-right: 100px;
  }
  .content .text .name{
    font-size: 200px;
  }
}
@media only screen and (max-width: 697px) {
  .qualification__button {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1190px) and (min-width: 1025px) {
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons a {
    display: block;
    width: 100%; /* Optional, to make buttons full width */
    text-align: center;
    }
}
@media only screen and (max-width: 730px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .contact-box {
    display: block;
    width: 100%; 
    margin-bottom: 20px; 
    text-align: center; 
  }
}
/*make home section responsive*/
@media only screen and (max-width: 611px){
  .content .text .media i{
    margin-bottom: 6px;
  }
  .content{
    display: block;
    height: 90%;
  }
  .content .text{
    margin-bottom: 20px;
  }
}